.menu_mobile_container {
  background-color: #ff3366;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 80%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showMenu 1s;
}

.menu_mobile_container img {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: 2rem;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.nav ul li {
  cursor: pointer;
}

.close_menu_button {
  cursor: pointer;
}

@keyframes showMenu {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}
