.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_container img {
  transition: all 1s;
}

.header_container img:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
  gap: 130px;
}

.navbar ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

.navbar ul li {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: -0.3px;
  cursor: pointer;
  transition: all 0.3s;
}

ul li:hover {
  color: #d5d5d6;
}

.demo_button {
  border: none;
  outline: none;
  background-color: #ff3366;
  color: #fcfcff;
  padding: 18px 40px;
  border-radius: 7px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  cursor: pointer;
  transition: filter 0.3s;
}

.demo_button:hover {
  filter: brightness(0.85);
}

.menu_button {
  display: none;
  z-index: 2;
}

@media screen and (max-width: 1080px) {
  .navbar {
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .menu_icon {
    display: block;
    cursor: pointer;
  }

  .menu_button {
    display: block;
  }
}
