.home_container {
  display: flex;
  align-items: center;
}

.home_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 130px;
  width: 50vw;
}

.home_content .home_title {
  font-weight: 500;
  font-size: 5.125rem;
  line-height: 5rem;
  margin: 0;
}

.home_content .home_subtitle {
  margin: 24px 0 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: -1px;
  color: #d5d5d6;
}

.email_input_container {
  display: flex;
  align-items: center;
  padding-top: 40px;
  gap: 16px;
}

.email_input {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 10px;
  border: 1px solid #fcfcff;
  border-radius: 7px;
}

.email_input input {
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.3px;
  color: #d5d5d6;
}

.email_input input::placeholder {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.3px;
  color: #d5d5d6;
}

.send_button {
  border: none;
  outline: none;
  background-color: #ff3366;
  color: #fcfcff;
  padding: 18px 20px;
  border-radius: 7px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  cursor: pointer;
  transition: filter 0.3s;
}

.send_button:hover {
  filter: brightness(0.85);
}

.home_content .credit {
  margin: 140px 0 0;
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: -0.3px;
}

@media screen and (max-width: 1080px) {
  .home_content {
    flex-direction: column;
    width: 100vw;
  }

  .home_image img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .home_content {
    padding-top: 100px;
  }

  .home_content .home_title {
    font-size: 4.75rem;
    line-height: 4rem;
  }

  .home_content .home_subtitle {
    margin: 18px 0 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .email_input_container {
    padding-top: 30px;
  }

  .email_input input {
    width: 100%;
  }

  .home_content .credit {
    margin: 110px 0 0;
    align-self: center;
    font-size: 1rem;
  }
}
