.app_container {
  background-color: #28293e;
  padding: 55px 215px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff3366;
  border-radius: 7px;
  border: 2px solid #fcfcff;
}

@media screen and (max-width: 1080px) {
  .app_container {
    padding: 55px 80px;
  }
}

@media screen and (max-width: 768px) {
  .app_container {
    padding: 30px 60px;
  }
}

@media screen and (max-width: 600px) {
  .app_container {
    padding: 20px 15px;
  }
}
