body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Euclid Circular A", sans-serif;
  text-decoration: none;
  color: #fcfcff;
  background-color: #28293e;
}

ul,
li {
  list-style: none;
}

input,
button {
  font-family: "Euclid Circular A", sans-serif;
}
